<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>PROJECT2</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- <script src="./plugin/jquery.simplePagination.js"></script> -->
    <!-- <link rel="stylesheet" href="./plugin/simplePagination.css"> -->
    <link rel="stylesheet" href="/css/signin.css">
    <link rel="stylesheet" href="/javascripts/signin.js">
    <link rel="stylesheet" href="/less/signin.less">
</head>

<body>
    <div class="wrapper">
        <div class="container">
            <h1>Welcome to Blog CP</h1>

            <form class="form">
                <input type="email" id="email" placeholder="Email">
                <input type="password" id="password" placeholder="Password">
                <span id="emailValidate" style="display: none; color: red;"> </span>
                <span id="passwordValidate" style="display: none; color: red;"> </span>
                <span id="active" style="display: none; color: red;"> </span>
                <button id="btn-signup" type="button">Sign Up</button>
                <div class="forgotpassword"><a href="/forgotpassword" class="txt2 hov1">Forgot Password?</a></div>
            </form>
        </div>

        <ul class="bg-bubbles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
</body>

<script>

    $("#btn-signup").click(function () {
        var $isEmail = false;
        var $isPassword = false
        var $email = $("#email").val();
        var $password = $("#password").val();
        if ($email == "") {
            $("#emailValidate").html("");
            $("#emailValidate").css("display", "block").
                $isEmail = false;
        } else if ($email.indexOf("@") <= 0) {
            $("#emailValidate").html("");
            $("#emailValidate").css("display", "block").html("Email khong dung dinh dang");
            $isEmail = false;
        } else {
            $("#emailValidate").css("display", "none").html("");
            $isEmail = true;
        }
        if ($password.length < 6 && $password.length > 0) {
            $("#passwordValidate").html("");
            $("#passwordValidate").css("display", "block").html("mat khau phai lon hon 6 ky tu");
            $isPassword = false
        } else if ($password == "") {
            $("#passwordValidate").html("");
            $("#passwordValidate").css("display", "block").html("tk,mk ko duoc de trong");
            $isPassword = false
        } else {
            $("#passwordValidate").css("display", "none").html("");
            $isPassword = true;
        }

        if ($isEmail && $isPassword) {
            $.ajax({
                url: "/api/signup",
                method: "post",
                data: {
                    email: $('#email').val(),
                    password: $('#password').val()
                }
            }).then(function (data) {
                // alert(data.message)
                if (data.error === false) {
                    // cookie("token", data, 1)
                    alert(data.message)
                    window.location.href = "/signin";
                    return;
                }
                if (data.error === true) {
                    alert(data.message)
                    return;
                }
            }).catch(function (err) {
                console.log("loiiiiiiiii",err);
            })
        }
    })
    function setCookie(cname, cvalue, exdays) {
        var d = new Date();
        d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
        var expires = "expires=" + d.toUTCString();
        document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
    };

</script>

</html>